src/event.pug
include partials/_var.pug

- var img = 'img/event/'

doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
        link(href="css/app.css", rel="stylesheet")
        link(href="css/jquery.fancybox.min.css", rel="stylesheet")
        link(href="css/event.css", rel="stylesheet")
        script(type="text/javascript", src="static/front/lib/jquery.min.js")
        script(defer, type="text/javascript", src="static/front/lib/jquery.fancybox.min.js")
        script(defer, type="text/javascript", src="static/front/lib/jquery.clamp.min.js")
        script(defer, type="text/javascript", src="static/front/lib/ScrollMagic.min.js")
    body
        .container
            header.header
                .header__logo June Homes
                .header__slogan
                    .header__slogan-3d 3D tours
                    .header__slogan-more More than 300 options
                .header__towns.towns
                    .towns__item.towns__item_ny
                        .towns__icon
                            img.towns__icon-img(src=img + "ny.png")
                        .towns__text New York City
                    .towns__item.towns__item_dc
                        .towns__icon
                            img.towns__icon-img(src=img + "dc.png")
                        .towns__text Washington DC
                    .towns__item.towns__item_boston
                        .towns__icon
                            img.towns__icon-img(src=img + "boston.png")
                        .towns__text Boston
            section.content
                .houses
                    span.houses__loading loading&hellip;
        script(type="text/javascript", src="static/front/js/event.js")

public/event.html
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="css/app.css" rel="stylesheet">
    <link href="css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="css/event.css" rel="stylesheet">
    <script type="text/javascript" src="static/front/lib/jquery.min.js"></script>
    <script defer type="text/javascript" src="static/front/lib/jquery.fancybox.min.js"></script>
    <script defer type="text/javascript" src="static/front/lib/jquery.clamp.min.js"></script>
    <script defer type="text/javascript" src="static/front/lib/ScrollMagic.min.js"></script>
  </head>
  <body>
    <div class="container">
      <header class="header">
        <div class="header__logo">June Homes</div>
        <div class="header__slogan">
          <div class="header__slogan-3d">3D tours</div>
          <div class="header__slogan-more">More than 300 options</div>
        </div>
        <div class="header__towns towns">
          <div class="towns__item towns__item_ny">
            <div class="towns__icon"><img class="towns__icon-img" src="img/event/ny.png"></div>
            <div class="towns__text">New York City</div>
          </div>
          <div class="towns__item towns__item_dc">
            <div class="towns__icon"><img class="towns__icon-img" src="img/event/dc.png"></div>
            <div class="towns__text">Washington DC</div>
          </div>
          <div class="towns__item towns__item_boston">
            <div class="towns__icon"><img class="towns__icon-img" src="img/event/boston.png"></div>
            <div class="towns__text">Boston</div>
          </div>
        </div>
      </header>
      <section class="content">
        <div class="houses"><span class="houses__loading">loading&hellip;</span></div>
      </section>
    </div>
    <script type="text/javascript" src="/static/front/js/event.js"></script>
  </body>
</html>
